<div class="main">
 <div class="inner">
  <div class="user__wrapper">
   <h2 class="page-heading">トレーナー自己紹介</h2>

  <div class="profile-image-wrapper">
  <%= image_tag @trainer.profile_image.variant(resize: "300x300"),class: "profile-image" %>
  </div>

<table class="table">
 <tbody>
  <tr>
   <th class="table__col1">ニックネーム</th>
   <td class="table__col2"><%= @trainer.nickname %></td>
  </tr>
  <tr>
   <th class="table__col1">名前</th>
   <td class="table__col2"><%= "#{@trainer.last_name} #{@trainer.first_name}&nbsp;&nbsp;&nbsp;&nbsp;(#{@trainer.last_name_reading} #{@trainer.first_name_reading})".html_safe%></td>
  </tr>
  <tr>
   <th class="table__col1">年齢/性別</th>
   <td class="table__col2"><%= "#{@trainer.age}歳 / #{@trainer.gender.name}" %></td>
  </tr>
  <tr> 
   <th class="table__col1">活動エリア</th>
   <td class="table__col2"><%= "#{@trainer.prefecture.name} #{@trainer.city}" %></td>
  </tr>
  <tr> 
   <th class="table__col1">理学療法士 <br>免許登録番号</th>
   <td class="table__col2"><%= @trainer.registration_number %></td>
  </tr>
  <tr> 
   <th class="table__col1">経歴</th>
   <td class="table__col2"><%= @trainer.career %></td>
  </tr>
  <tr> 
   <th class="table__col1">自己紹介</th>
   <td class="table__col2"><%= @trainer.profile %></td>
  </tr>
 </tbody>
</table>

<div class="button-wrapper">
<% if user_signed_in? %>
  <%= link_to '予約する', new_reservation_path(trainer_id: @trainer.id), class: 'action-button' %>
  <%= link_to 'ダイレクトメッセージを送る', chats_path(trainer_id: @trainer.id),data: { turbo_method: :post }, class: 'action-button' %>
<% end %>
</div>

  </div>
 </div>
</div>
