<!DOCTYPE html>
<html>
  <head>
    <title>PhysiofitPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header> 
      <div class="logo">
         <%= link_to image_tag("physiofit-pro-logo.png", class:"php-icon"), "/" %>
      </div> 
      <nav> 
       <% if trainer_signed_in? || user_signed_in? %>
          <%= link_to "My page", trainer_signed_in? ? trainer_path(current_trainer.id) : user_path(current_user.id) %>
          <%= link_to "Message", chats_path %>
          <% if trainer_signed_in? %>
             <%= link_to "Sign out", destroy_trainer_session_path, data: {turbo_method: :delete}%>
          <% else %>
             <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %>
          <% end %>
      <% end %>
      </nav> 
    </header>

    <div class = "common-content">
      <%= yield %>
    </div>

    <footer> 
      <p>&copy; 2024 <a href="/">PhysioFit Pro</a>. All Rights Reserved.</p> 
    </footer> 
  </body>
</html>